services:
  traefik:
    image: traefik:v3.6.7
    container_name: traefik_lb
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--metrics.prometheus=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - url_shortener_net
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: cmd/server/Dockerfile
    deploy:
      replicas: 2
    environment:
      SHARD_DSNS: ${DOCKER_SHARD_DSNS}
      RABBITMQ_URL: ${DOCKER_RABBITMQ_URL}
      REDIS_URL: ${DOCKER_REDIS_URL}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.routers.api.rule=PathPrefix(`/`)"
      - "traefik.http.services.api.loadbalancer.server.port=3030"
    depends_on:
      postgres-shard-0:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    networks:
      - url_shortener_net

  worker:
    build:
      context: .
      dockerfile: cmd/worker/Dockerfile
    environment:
      MAX_RETRIES: ${MAX_RETRIES}
      SHARD_DSNS: ${DOCKER_SHARD_DSNS}
      RABBITMQ_URL: ${DOCKER_RABBITMQ_URL}
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - url_shortener_net

  migrator:
    build:
      context: .
      dockerfile: cmd/migrator/Dockerfile
    container_name: url_shortener_migrator
    environment:
      SHARD_DSNS: ${DOCKER_SHARD_DSNS}
    depends_on:
      postgres-shard-0:
        condition: service_healthy
      postgres-shard-1:
        condition: service_healthy
    networks:
      - url_shortener_net
    restart: "no"

  postgres-shard-0:
    image: postgres:18-alpine
    container_name: url_shortener_pg_shard_0
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: url_shortener
    ports:
      - "5432:5432"
    volumes:
      - pg_shard0_data:/var/lib/postgresql/data
    networks:
      - url_shortener_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d url_shortener"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-shard-1:
    image: postgres:18-alpine
    container_name: url_shortener_pg_shard_1
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: url_shortener
    ports:
      - "5433:5432"
    volumes:
      - pg_shard1_data:/var/lib/postgresql/data
    networks:
      - url_shortener_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d url_shortener"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: url_shortener_redis
    ports:
      - "6379:6379"
    networks:
      - url_shortener_net

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: url_shortener_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - url_shortener_net
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5

  prometheus:
    image: prom/prometheus:latest
    container_name: url_shortener_prometheus
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - url_shortener_net

  loki:
    image: grafana/loki:3.0.0
    container_name: url_shortener_loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    networks:
      - url_shortener_net

  promtail:
    image: grafana/promtail:3.0.0
    container_name: url_shortener_promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/promtail.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    networks:
      - url_shortener_net

  grafana:
    image: grafana/grafana:latest
    container_name: url_shortener_grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
      - loki
    networks:
      - url_shortener_net

volumes:
  pg_shard0_data:
  pg_shard1_data:

networks:
  url_shortener_net:
    driver: bridge
