services:
  postgres-shard-0:
    image: postgres:18-alpine
    container_name: url_shortener_pg_shard_0
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: url_shortener
    ports:
      - "5432:5432"
    volumes:
      - pg_shard0_data:/var/lib/postgresql/data
    networks:
      - url_shortener_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d url_shortener"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-shard-1:
    image: postgres:18-alpine
    container_name: url_shortener_pg_shard_1
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: url_shortener
    ports:
      - "5433:5432"
    volumes:
      - pg_shard1_data:/var/lib/postgresql/data
    networks:
      - url_shortener_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d url_shortener"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-shard-2:
    image: postgres:18-alpine
    container_name: url_shortener_pg_shard_2
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: url_shortener
    ports:
      - "5434:5432"
    volumes:
      - pg_shard2_data:/var/lib/postgresql/data
    networks:
      - url_shortener_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d url_shortener"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: url_shortener_redis_cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - url_shortener_net

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: url_shortener_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - url_shortener_net
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5

volumes:
  pg_shard0_data:
  pg_shard1_data:
  pg_shard2_data:
  redis_data:

networks:
  url_shortener_net:
    driver: bridge
